.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200;
}

.inputContainerInvalid {
  composes: inputContainer;
}

.inputContainerInvalid>input {
  border: 2px solid var(--red);
  border-radius: 5px;
  height: 20px;
}

.clear {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-image: url('../../assets/images/deleteCross.png');
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.clear:hover {
  background-color: var(--red);
}