body {
  --black: #0d1221;
  --grey: #cbbfb2;
  --blue: #3ca0af;
  --orange: #cf9d36;
  --darkBlue: #243a56;
  --greyBlue: #2f6f87;
  --brown: #b0523f;
  --red: #a00f0e;
  background-image: url('./assets/images/game-of-thrones-logo.png');
  background-color: var(--grey, 'grey');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.95;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}