.tableContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.id {
  color: var(--blue);
  font-weight: bold;
  width: 40px;
  flex-shrink: 0;
}

.name {
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tableRow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border-bottom: 1px solid var(--blue);
  height: 40px;
  align-items: center;
}

.tableHeader {
  display: flex;
  height: 45px;
  background-color: var(--blue);
  border: 2px solid var(--orange);
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.lastHeaderBlock {
  flex-shrink: 0;
  margin-left: 20px;
  width: 60px;
}

.edit {
  cursor: pointer;
  margin-left: 20px;
  height: 20px;
  flex-shrink: 0;
  width: 20px;
  background-image: url('../../assets/images/editPencil.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.tableCell {
  flex-shrink: 0;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.whois {
  composes: tableCell;
  width: 180px;
}

.deathReason {
  composes: tableCell;
  width: 230px;
}

.killer {
  composes: tableCell;
  width: 120px;
}

.weapon {
  composes: tableCell;
  width: 120px;
}

.delete {
  height: 30px;
  width: 30px;
  composes: edit;
  background-image: url('../../assets/images/deleteCross.png');
}