.buttonContainer {
  display: flex;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--blue);
}