.headerContainer {
  display: flex;
  height: 50px;
  border: 2px solid var(--brown);
  box-shadow: var(--orange) 0px 0px 20px;
  align-items: center;
}

.titleText {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}

@media (max-width: 1080px) {
  .titleText {
    font-size: 12px;
    font-weight: normal;
    margin: 5px 10px;
  }
}