.container {
  height: 100%;
  background-color: var(--grey, 'grey');
  display: flex;
  flex-direction: column;
}

.inputContainer {
  margin: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nothingToDisplay {
  color: var(--red);
  font-size: 24px;
  width: 400px;
  margin: 50px auto;
  padding: 50px;
  border: 5px solid var(--orange);
  border-radius: 50px;
}