.modalContainer {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--darkBlue);
}

.close {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-image: url('../../assets/images/deleteCross.png');
  background-color: var(--red);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}