.switcherContainer {
  border: 1px solid var(--darkBlue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 14px;
  margin-left: auto;
  margin-right: 15px;
}

.item {
  background-color: var(--grey);
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 5px;
}

.itemSelected {
  composes: item;
  background-color: var(--orange);
  color: var(--darkBlue);
}