.cardContainer {
  height: 350px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
}

.cardHeader {
  color: var(--blue);
  margin: 10px 20px;
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin: auto 20px 20px auto;
}

.inputsContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.label {
  width: 200px;
}